// Variables
@import "./Ant.vars.scss";

// Example import .css
//@import '~name_in_node_modules/dist/style.css';

// Global styles
body {
  background-color: #ffffff;
}

.ant-menu-inline-collapsed {
	width: 50px;
}

.ant-menu-inline-collapsed > .ant-menu-item,
.ant-menu-inline-collapsed > .ant-menu-submenu > .ant-menu-submenu-title {
	padding: 0 18px !important;
}
